.header {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  color: white;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.company-logo {
  font-size: 28px;
  font-weight: bold;
}

.company-logo a {
  color: white;
  text-decoration: none;
}

.header .tabs {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header nav {
  width: auto;
}

.header nav ul {
  width: 100%;
}

.header .tabs {
  list-style: none;
  display: flex;
  margin: 0;
}

.header li {
  padding-right: 10px;
  list-style: none;
}

.header li a {
  color: white;
  text-decoration: none;
  transition: padding-bottom 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.header li a:hover{
  border-bottom: 2px solid lightseagreen;
  padding-bottom: 5px;
}

.header li.active-tab a {
  font-weight: bold;
  border-bottom: 2px solid lightseagreen;
  padding-bottom: 5px;
}

@media (max-width: 730px) {
  .header {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  }

  .header .company-logo {
    font-size: 1rem;
  }

  .header .nav {
    font-size: 1rem;
    width: auto;
  }
}

@media (max-width: 600px) {
  .header .company-logo {
    font-size: 0.9rem;
  }

  .header .nav {
    font-size: 0.9rem;
  }
}

@media (max-width: 540px) {
  .header .company-logo {
    font-size: 0.8rem;
  }

  .header .nav {
    font-size: 0.8rem;
  }
}

@media (max-width: 490px) {
  .header .company-logo {
    font-size: 0.7rem;
  }

  .header .nav {
    font-size: 0.7rem;
  }
}

@media (max-width: 440px) {
  .header .company-logo {
    font-size: 0.6rem;
  }

  .header .nav {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  .header .company-logo {
    font-size: 0.55rem;
  }

  .header .nav {
    font-size: 0.55rem;
  }
}

@media (max-width: 350px) {
  .header .company-logo {
    font-size: 0.5rem;
  }

  .header .nav {
    font-size: 0.5rem;
  }
}
