.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;  /* Make slide a positioning context */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide img {
  width: 100%;  /* Make the image full width */
  height: 100%;  /* Maintain aspect ratio */
  object-fit: cover;
}

.portfolio {
  position: relative;
  z-index: 1;
}

.portfolio .portfolio-content {
  position: absolute;
  bottom: 2vh;
  left: 2vw;
  padding: 5vh 2vw;
  max-width: 80%;
}

.portfolio h1 {
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 3rem;
}

.portfolio p {
  font-family: Poppins, sans-serif;
  color: white;
}
